<div class="container main-container">
    <h2>Bar</h2>   

    <div>
        Manual Branch: {{ configManual.branchId }} - Manual Token: {{ configManual.branchToken }}
    </div>

    <div>
        Branch: {{ config.branchId }} - Token: {{ config.branchToken }}
    </div>

    <div>
        Drink 1: {{ barDrink1 }}
    </div>

    <div>
        Drink 2: {{ barDrink2 }}
    </div>

    <div>
        Data Branch: {{ dataBranch }}
    </div>

    <br><br><br><br>

    <h2>Progress: {{ progress }} %</h2>
    <p *ngIf="progress >= 100">Done processing {{label}} of Angular Zone!</p>

    <a href="javascript:void(0)" class="btn btn-success" (click)="processWithinAngularZone()">Process Within Angular Zone</a>&nbsp;
    <a href="javascript:void(0)" class="btn btn-primary" (click)="processOutsideAngularZone()">Process Outside Angular Zone</a>
</div>