<div class="container main-container">
    <div class="card h-100">
        
        <div style="align-content:center;">
            <img src="/assets/{{ product.image }}" height="164px" width="253px" alt="">
        </div>

        <h4 class="card-title">{{ product.name | titlecase }}</h4>

        <div [ngSwitch]="product.onDeal">
            <p *ngSwitchCase="true">Deal!</p>
            <p *ngSwitchCase="false">For just:</p>
        </div>

        <div *ngIf="product.onDeal" class="card-body">
            <div>
                <h4 class="card-text">From:
                    <small><del>{{ product.value | currency:'EUR' }}</del></small>
                    To: {{ product.dealValue | currency:'EUR' }}                
                </h4>
                <ng-content select=".run"></ng-content>
            </div>
        </div>

        <div *ngIf="!product.onDeal" class="card-body">
            <div><h4>{{ product.value | currency:'EUR' }}</h4></div>
            <ng-content select=".buy"></ng-content>
        </div>

        <div class="card-footer">
            <a href="javascript:void(0)" (click)="save()" class="btn btn-primary">
                Save
            </a>
        </div>
    </div>
</div>